server:
  port: ${APP_PORT:8080}
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: weather-visualizer
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:weatherdb;MODE=MYSQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true

weather:
  provider: QWEATHER
  base-url: "https://nm4bjaxp7y.re.qweatherapi.com"
  jwt:
    project-id: "4A89P8CYNW"
    credential-id: "KD5BDMKTNM"
    private-key-pem: |
      -----BEGIN PRIVATE KEY-----
      MC4CAQAwBQYDK2VwBCIEIOuF62MNr2hSI/EIbxdeZwVrWtJriBf+kq9gxR4kTI0V
      -----END PRIVATE KEY-----

ai:
  qwen:
    api-key: "sk-6a1a3c1f131f4c04bb22379f8482b152"
    model: qwen-turbo
    base-url: https://dashscope.aliyuncs.com/compatible-mode/v1

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
